@import "tailwindcss";

/* .header{
    display: flex;
    justify-content: space-between;
    background-color: antiquewhite;
}

.logo{
    width: 15%;
    height: 100%;
}

.nav-items > ul {
    display: flex;
}

ul>li{
    list-style-type: none;
    display: flex;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
}

.res-container{
    margin: 0px 100px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightcyan;
}

.res-card{
    width: 21%;
    height: 100%;
    margin: 1%;
    border-radius: 5px;
    padding: 10px;
    background-color: lightgray;
}

.res-card:hover{
    border: 1px solid lightcoral;
    scale: 1.1;
    cursor: pointer;
}

.search{
    padding: 10px;
}

.res-image{
    height: 70%;
    width: 100%;
}

.filter-btn{
    padding: 20px;
    background-color: greenyellow;
    border: none;
    border-radius: 15px;
    font-size: 20px;
}

.filter-btn:hover{
    background-color: black;
    color: lightgreen;
    cursor: pointer;
}

.shimmer-container{
     margin: 0px 100px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightcyan;
}

.shimmer-cards{
     width: 20%;
    height: 100%;
    margin: 1%;
    border-radius: 5px;
    padding: 10px;
    background-color: lightgray;
}

.shimmer-title{
    width: 80%;
    height: 10px;
    background-color: grey;
    margin: 20px;
}
.shimmer-image{
    width: 90%;
    height: 100px;
    background-color: gray;
    margin: 5px;
}

.login{
    background-color: green;
    font-size: 20px;
    padding: 0px 30px;
    margin: 5px;
    border: 0px;
    border-radius: 15px;
}
.filter{
    display: flex;
    margin: 10px 0px;
}

.user-card{
    width: 50%;
    border: 1px solid black;
    box-shadow: 15px 15px 5px pink;
} */